body{
    background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
animation-duration: 3s;
   animation-name: aparecer;
}
th {
    background-color:aquamarine;
    border: 1px solid;
    text-align: center;
   }
  
tr, td {
    border: 1px solid;
    line-height: 30px;
    text-align: center;
    background-color:aquamarine
   }

.titulo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 40px;
    color:darkorchid
    }
    
    .menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    right: 0%;
    color:darkorchid;
  
}

.menu2 :hover{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color:darkorchid;
    background-color:dimgray;
}
.apex{
    font-size: 30px;
    color:crimson;
}

p{
    line-height: 1.3;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace ;
    font-weight: 700;
    color:aquamarine
}

.fifa{
    font-size: 30px;
    color:dodgerblue;
}

.ufc{
    font-size: 30px;
    color:aquamarine;
}

.battlefront{
    font-size: 30px;
    color:darkorchid;
}

.logo{
    width: 100px;
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: left ;

}
.search{
    text-align: center;
    background-color:mediumslateblue ;
    color:chartreuse
    
}

a{
    text-decoration: none;
}

.p1{
    display: grid;
    grid-template-areas: 
    "apex fifa"
    "ufc battlefront";
    grid-template-columns: 30fr 30fr;
    grid-template-rows: 30fr 30fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
}

.gridA{
    grid-area: apex;
    justify-items: stretch;
    align-items: center;
    text-align: center;
}

.gridF{
    grid-area: fifa;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.gridU{
    grid-area: ufc;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.gridB{
    grid-area: battlefront;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.searchBar{
    text-align: center;
    padding: 20px;
}

form{
    text-align: center;
    padding: 20px;
    color: blueviolet;
    
}

.bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
 
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.linkCompra{
    display: flex;
    justify-content: center;
    color: aquamarine;
    padding: 10px;
}

.styleEx{
    color: darkorchid;
}

.styleG{
    text-align: center;
}


